<md-toolbar layout="row" class="site-content-toolbar md-whiteframe-glow-z1"><h2 layout-padding  >Getting Started</h2></md-toolbar>

<md-content layout-padding flex>
	<div class="doc-content theming">
	    
	    <p><a name="top" /></p>
<h2 id="i-want-to-download-source-code-and-build-the-fgp-viewer">I want to download source code and build the FGP viewer</h2>
<ol>
<li>Follow GitHub&#39;s guides on <a href="https://help.github.com/articles/set-up-git">setting up Git</a>.</li>
<li>Fork the latest <a href="https://github.com/fgpv-vpgf/fgpv-vpgf">fgpv-vpgf repository</a> by following the GitHub forking guide.</li>
<li>Follow the <a href="https://github.com/fgpv-vpgf/fgpv-vpgf#getting-started">Getting Started</a> of the FGPV readme </li>
<li>To contribute back, follow the instructions on how to create a pull request.</li>
</ol>
<p><a href="#top">Back To Top</a>
{: .text-right}</p>
<h2 id="i-want-to-report-a-bug-or-ask-a-question-about-fgp-viewer">I want to report a bug or ask a question about FGP Viewer</h2>
<ol>
<li><a href="https://help.github.com/articles/signing-up-for-a-new-github-account">Create a GitHub account</a>.</li>
<li>Ask a question relating to the style guide by creating a new issue on GitHub.</li>
<li>Report a bug, ask a question or request a feature relating to FGPV by filling out <a href="https://github.com/fgpv-vpgf/fgpv-vpgf/issues/new">a new issue</a>.</li>
</ol>
<p><a href="#top">Back To Top</a>
{: .text-right}</p>

	    
	</div>
</md-content>